@model netimoveis.Net.Models.Imovel

<div class="col-md-8">
    <section id="loginForm">
        @using (Html.BeginForm("SaveImovel", "Imovel", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <hr />

            @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.TipoImovel, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.TipoImovel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TipoImovel, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ValorVenda, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ValorVenda, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ValorVenda, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ValorLocacao, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ValorLocacao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ValorLocacao, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Endereco, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Endereco, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Numero, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Numero, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Complemento, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Complemento, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Bairro, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Bairro, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cidade, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cidade, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Estado, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Estado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Estado, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Cep, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Cep, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cep, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="vertical-align:central; align-content: center; text-align:center;">
                <div class="col-md-offset-2 col-md-10" style="align-content:center; vertical-align: central;">
                    <input id="btnCancel" type="button" value="Cancelar" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
                    <input id="btnSalvar" type="submit" value="Salvar" class="btn btn-success" />
                </div>
            </div>
        }
    </section>
</div>